@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white rounded-2xl shadow-sm border border-slate-100;
  }
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', sans-serif;
}